env/** 
pastpapers.sln
pastpapers.pyproj
config.pyc
index.pyc

models/__init__.pyc
models/course.pyc
models/department.pyc
models/paper.pyc
models/unit.pyc
models/admin.pyc

.vs/**
node_modules/**
/pastpapers1.pyproj
/__init__.pyc
admin.pyc
admin.pyc
settings.pyc
pastpapers1.pyproj.user
*.pyc
utilities/utilities.pyc
admin.pyc
*.pyc
.vscode/launch.json
