{%extends 'admin/partials/base.html'%}
{% block content %}
<div class="container" ng-controller="CourseController">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-{{ message.type }}" style="width: 96%">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Attention!</strong>
        {{ message.message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="col-md-12">
        <form name="form" action="/admin/course" method="post">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="department">Department</label>
                                <select class="form-control" name="department_id" convert-to-number required>
                                    {% for department in deps %}
                                    <option value="{{department.id}}">{{department.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="department">Course Title</label>
                                <input type="text" class="form-control" required name="course_title" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-primary btn-fab pull-right" type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}